<h1>My Note Pad</h1>

<h2>Features</h2>
<ul>
	<li>Saves Lists of lists</li>
	<li>Have different types of lists</li>
	<li>make a link from a list item</li>
</ul>

<p><strong>Lists of Lists</strong>:<br />
I'm going to organize the code as an object, with objects.</p>

<pre><code class="javascript">
var myLists = {
	'listName': {
		type: 'bullet list',
		list: ['item', 'item2', 'item3']
	}
}
</code></pre>

<p>I need to be able to:</p>
<ul>
	<li>Create new list - form > input that takes list name >^ radio inputs that takes determine which type of list it's going to be.</li>
</ul> 

<form>
	<input type="text" ng-model="list.newListName">
	<input type="text" ng-model="list.newListItem">
	<button ng-click="updateList()">Test</button>
</form>

<div>
	<a ng-click="removeItems()">Remove finished Items</a>
	<ul class="list">
		<li ng-repeat="item in list" class="item-{{ item.done }}"><input type="checkbox" ng-model="item.done">{{ item.todo }}</li>
		<li>
			<form>
				<input type="text" ng-model="newItem"><button ng-click="addItem()">Add</button>
			</form>
			</li>
	</ul>
</div>